.btn-strongly-agree {
	color: #89d298;
	font-weight: bold;
}

.btn-strongly-agree.active,
.btn-strongly-agree:active,
.btn-strongly-agree:focus,
.btn-strongly-agree:active:focus,
.btn-strongly-agree.active:focus,
.btn-strongly-agree:hover
 {
	background-color: #4ad466;
    outline: none;
}

.btn-agree {
	color: #89d298;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: #89d298;
    outline: none;
}

.btn-disagree {
	color: #e28181;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: #e28181;
    outline: none;
}

.btn-strongly-disagree {
	color: #e28181;
	font-weight: bold;
}

.btn-strongly-disagree.active,
.btn-strongly-disagree:active,
.btn-strongly-disagree:focus,
.btn-strongly-disagree:active:focus,
.btn-strongly-disagree.active:focus,
.btn-strongly-disagree:hover {
	background-color: rgb(204, 41, 41);
    outline: none;
}

.bottom {
	margin-bottom: 100px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:hover {
    outline: none;
}

.blue-bkgd {
	background-color: rgb(42,47,74);
	border: 0px;
}